* {
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-right: 10%;
  align-items: center;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  color: #ff5c01;
}

ul {
  display: flex;
  justify-content: left;
  list-style-type: none;
}

.nav-bar li {
  margin-right: 10rem;
}

#logo {
  width: 3rem;
  margin-left: 3rem;
}

a {
  text-decoration: none;
  color: #ff5c01;
}
li a:hover {
  text-decoration: none;
  color: #edff00;
}

.button {
  background-color: #ff5c01;
  color: white;
  font-weight: 700;
  padding: 1rem 3rem;
  width: max-content;
}

.main-section {
  background-image: url(img/IMG_7831.jpeg);
  background-size: cover;
  background-position: center;
  height: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

h1 {
  font-family: Gravesend Sans;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 1rem;
  color: white;
}

h2 {
  font-family: Gravesend Sans;
  color: #ff5c01;
  text-transform: uppercase;
  padding-left: 3rem;
  font-size: 1.75rem;
  margin-top: 3rem;
}

h3 {
  font-weight: 300;
  padding: 0 20%;
  text-align: center;
  justify-self: center;
  font-size: 1.75rem;
  margin: 8rem 0;
}
.cover {
  display: flex;
  height: 35vw;
}
.product-img {
  background-image: url(productimg/cover.jpg);
  background-size: cover;
  background-position-y: -25vw;
  width: 100%;
}
.sust-img {
  background-image: url(img/ocean.jpg);
  background-size: cover;
  background-position-y: -25vw;
  width: 100%;
}
.cover-text-product-page {
  display: grid;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 750;
  margin-top: 13vw;
}
.mainlist {
  display: flex;
}
.cate-menu {
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  list-style-type: none;
  display: inline-block;
}
.cate-link {
  text-decoration: none;
  display: inline-block;
  padding: 20px;
  color: #ff5c01;
}
.cate-link:hover {
  color: #edff00;
}
.product-list {
  font-family: "Manrope", sans-serif;
  color: #ff5c01;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-content: space-between;
  /* flex-wrap: wrap; */
  align-items: center;
}
.bag-display {
  width: 100%;
  height: max-content;
  padding: 15px;
  margin-top: 50px;
  margin-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.iconslsit {
  display: flex;
}
.iconslist p {
  margin-top: 0;
}

.product-icon-img {
  max-width: 30px;
  margin: 0.5mm;
}
.img-button {
  display: grid;
  width: 300px;
  height: max-content;
  padding: 15px;
}

.img-button2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  row-gap: 1rem;
  padding: 0 3rem;
}

.img-button2 div {
  align-self: center;
}

.prodpage-main h2 {
  color: white;
  font-size: 2rem;
  text-align: center;
  margin: 0;
}
.prodpage-main h3 {
  color: #edff00;
  font-size: 2rem;
  text-align: center;
  margin: 0;
}

.bag-name-page {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.bag-price-page {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.button3 {
  background-color: #edff00;
  padding: 0.5rem 4rem;
  color: #000;
}
.button3:hover {
  background-color: #eeff00e3;
}

.product-main {
  background-color: #7bafd47a;
}

.others {
  margin: 3rem 0;
  border-top: solid 3px white;
  display: grid;
  gap: 1rem;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: space-between;
}

.others p {
  grid-column: 1/-1;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 700;
}

.others img {
  width: 100%;
}
.opacity img:hover {
  opacity: 70%;
}
.social-icons div {
  text-align: center;
}

.img-display {
  width: 100%;
  object-fit: cover;
}
/*.img-display:hover {
  width: 110%;
}*/
.button1 {
  background-color: #ff5c01;
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 15px;
  border: solid black 0.5px;
  padding: 5px;
  justify-self: center;
  margin-top: 25px;
  margin-bottom: 15px;
}
.button1:hover {
  background-color: #ff5a01c9;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 8rem;
}

.icons img {
  max-width: 6rem;
}

.icons div {
  font-size: 1.25rem;
  text-align: center;
}

#best-sellers {
  background-color: #85b4d7;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 2.5rem;
  padding: 0 2rem 2rem;
}

.bag-card {
  border: solid 3px #edff00;
  padding: 1rem;
  width: fit-content;
}

#best-sellers h2 {
  color: #edff00;
  grid-column: 1/-1;
}

.bag-card img {
  max-width: 100%;
}

.ctas a {
  color: black;
  background-color: #edff00;
  padding: 0.5rem 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.ctas {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}
.collection {
  display: grid;
  column-gap: 3rem;
  grid-template-columns: 1fr 1fr;
  margin: 2rem 5rem 5rem 5rem;
}

.desk-hidden {
  visibility: hidden;
}

img {
  max-width: 500px;
}

.bag-collection img {
  width: 300px;
  margin: 3rem;
}

.bag-collection {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  column-gap: 0.5rem;
}

.collection-pic1 {
  background-image: url(img/grease.jpg);
  background-size: cover;
  background-position: center;
  min-width: 400px;
}
.collection-pic2 {
  background-image: url(img/race.jpg);
  background-size: cover;
  background-position: center;
  min-width: 400px;
}
.arrow {
  align-self: center;
  background-color: #ff5c01;
  color: white;
  width: fit-content;
  cursor: pointer;
}

h4 {
  font-size: 4rem;
  margin-top: 1rem;
  margin-right: 1rem;
  text-align: end;
  color: #edff00;
}

.shop-button {
  color: black;
  border: solid 1px black;
  height: fit-content;
  width: fit-content;
  padding: 1rem 2rem;
  font-weight: 600;
  grid-column-start: 2;
  justify-self: center;
}

footer {
  display: grid;
  grid-template-columns: 30% 30%;
  background-color: #edff00;
  padding: 3rem;
  justify-content: space-evenly;
  row-gap: 0rem;
}

form {
  text-align: center;
}

input {
  border: none;
  padding: 0.5rem;
  color: rgb(194, 194, 194);
}
#sign-button {
  background-color: white;
  color: #000;
  cursor: pointer;
}

h5 {
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons p {
  margin-top: 0;
}

.social-icons img {
  max-width: 60px;
  margin: 0 2rem;
}
.product-page {
  font-family: "Manrope", sans-serif;
  color: #ff5c01;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 400px));
  justify-content: space-between;
  /* flex-wrap: wrap; */
  align-items: center;
}

/* mobile menu */

.mob-menu {
  flex-direction: column;
  width: fit-content;
  padding-right: 2vw;
  display: none;
}
.mob-menu ul {
  flex-direction: column;
  background: none;
  margin-left: 1vw;
}

.burger-icon {
  background-image: url(img/burger.svg);
  width: 3vw;
  height: 3vw;
  background-repeat: no-repeat;
  margin-left: 1vw;
  margin-top: 2vw;
  display: none;
}
.cross-icon {
  background-image: url(img/cross.svg);
  width: 4vw;
  height: 4vw;
  background-repeat: no-repeat;
  margin-left: 1vw;
  display: none;
}

.show {
  transform: translateX(57vw);
  transition: all 0.3s ease;
}
.close {
  transform: translateX(-50vw);
  transition: all 0.3s ease;
}

.sust-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  padding: 0 20%;
  margin-bottom: 6rem;
}

.sust-main img {
  max-width: 300px;
}

.values {
  background-color: #85b4d7;
  margin-top: 2rem;
  width: 100%;
  color: white;
  padding: 2rem;
}

.values h2 {
  color: #edff00;
  text-align: center;
  grid-column: 1/5;
}

.values h4 {
  color: white;
}

.values img {
  align-self: center;
  padding-right: 3rem;
}

.values article {
  display: flex;
  border-left: solid 1rem #edff00;
  border-right: solid 1rem #edff00;
  border-bottom: solid 1rem #edff00;
  margin-bottom: 5rem;
  padding: 0 3rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 590px) {
  img {
    max-width: 300px;
  }
}
@media only screen and (max-width: 950px) {
  .desk-menu {
    display: none;
  }
  nav {
    display: none;
  }

  .mob-menu {
    display: flex;
    position: absolute;
    left: -57vw;
    top: 0;
    z-index: 5;
    background-color: #ff5c01;
    color: white;
    padding-top: 3vw;
    position: absolute;
    width: 50%;
    height: 100%;
    margin-left: -1vw;
    margin-top: -1vw;
    font-size: 1.1rem;
    padding-bottom: 6vw;
  }

  .mob-menu a {
    color: white;
  }
  .mob-menu li {
    margin: 1rem 0;
  }

  .mob-menu:first-child {
    padding: 2vw 0;
  }

  #menu-icon {
    display: block;
    z-index: 8;
    position: absolute;
    top: 2vw;
    left: 1vw;
  }

  .burger-icon,
  .cross-icon {
    display: block;
    margin-bottom: 2vw;
    width: 8vw;
    height: 8vw;
  }

  .cross-icon:hover,
  .burger-icon {
    background-color: #f7e59e00;
    border-radius: 0;
  }

  .main-section {
    height: 100%;
  }

  #hero-image {
    align-content: center;
    margin: 0;
    padding: 6rem;
  }

  .icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 4rem;
  }

  .icons img {
    max-width: 5rem;
  }

  .bag-card {
    margin: 1rem 0;
  }

  .collection {
    display: block;
    margin: 0;
    margin-bottom: 5rem;
  }
  .collection-pic1,
  .collection-pic2 {
    height: 20rem;
  }

  .arrow {
    visibility: hidden;
  }

  .bag-collection img {
    display: none;
  }

  .mob-hidden {
    display: none;
  }

  .desk-hidden {
    visibility: visible;
  }

  footer {
    display: block;
    padding: 1rem;
  }

  .social-media {
    margin-top: 5rem;
  }

  h3 {
    margin: 4rem 0;
  }

  .bag-display {
    margin: 0rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .menu-op {
    padding-left: 0;
    flex-wrap: wrap;
    justify-content: center;
  }
  .cate-link {
    padding: 0.5rem 2rem;
  }

  .img-button {
    width: 100%;
  }

  .values article {
    width: 100%;
  }

  .sust-main {
    display: block;
    padding: 0 20%;
    margin-bottom: 6rem;
  }

  .sust-main img {
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .img-button2 {
    display: block;
  }

  .button3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.5rem;
  }

  .bag-price-page {
    text-align: center;
    font-size: 2rem;
    margin: 2rem 0;
  }
}
